body{
  padding-bottom:20px;
}

#futurecensus:hover{
  text-decoration:none;
}
#future {
  color: orange !important; 
}
#census{
  color: black;
}
#future, #census {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.typeahead,
.tt-query,
.tt-hint {
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #0097cf;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-menu {
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
}
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}
.tt-suggestion p {
  margin: 0;
}

.addAPosition {
  margin:10px;
}

.invalid {
    animation-name: flashred;
    animation-duration: 1s;
    animation-iteration-count: 3;
}

@keyframes flashred {
    0%   {color:black;}
    50%  {color:red;}
    100% {color:black;}
}

.estimation{
  text-align: center;
}

.submission{
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.submission:hover, .submission:focus, .submission:active {
  box-shadow: 0px 0px 10px 8px rgba(190, 190, 255, 1.0);
}

hr{ 
  margin:0;
}

.bar {
  fill: steelblue;
  transform: translateZ(0);
  backface-visibility: hidden;
  transition-duration: 0.4s;
  transition-property: fill;
}
.bar:hover {
  fill: brown;
}
.axis {
  font: 10px sans-serif;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

.column-header{
  border:none;
}

.while-logged-in{

}
.while-logged-out{
  display:none;
}
